text {
  font-size: 10px;
  text-align: center;
}

#central {
  line-height:50px
}

.cell{
  border: solid 1px white;
  font: 10px sans-serif;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
}

svg {
    position: absolute; left: 0; top: 200px; right: 0;
    margin: auto;    /* 有了这个就自动居中了 */
}