h1 {
	font-family:Georgia;
	text-align:center;
}


body {
	font: 11px Trebuchet MS;
}

.axis path, 
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.point {
	stroke: white;
}

#story{
	text-align:center;
	border:ridge;	
}

span{
	  width:100px; height:20px; line-height:20px; text-align:center; float:left;
}